* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

v
.dataGrid {
    display: flex;
    flex-direction: column;
    width: fit-content; 
    margin: 20px;
    font-family: Arial, sans-serif;
}


.titulos, .dataLinha {
    display: flex;
    align-items: center; /
}

.titulos {
    background-color: rgb(5, 151, 151);
    color: white;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
}


.titulos div, .dataLinha div {
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1); 
}


.dataLinha:nth-child(odd) {
    background-color: #f2f2f2; 
}

.dataLinha:nth-child(even) {
    background-color: #e0e0e0; 
    color: #333;
}


.c1 { width: 50px; text-align: center; }
.c2 { width: 180px; }
.c3 { width: 120px; }
.c4 { width: 120px; }
.c5 {
     width: 120px;
     display: flex;
     text-align: center; 
     justify-content: space-around;
     flex-direction: row-reverse;
    }


.dataLinha:hover {
    background-color: #d1e7dd;
    cursor: pointer;
}

.icon{
    width: 30px;
}