*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

#info{
    display: flex;
    justify-content: space-around;
}

.quadrado{
    display: flex;
    width: 100px;
    height: 100px;
}

#q1{
    background-color: blue;
}

#q2{
    background-color: red;
}