*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#timer{
    background-color: #333;
    color: #0f0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    border: 5px solid #888;
}

button{
    background-color: #c9c9c9;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    margin: auto;
}